@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css');
body {
    height: 100vh;
    background: #0D1629;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

main {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

button {
    color: white;
    background-color: #F72585;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: inherit;

    &.seizure{
        background-color: #EF233C !important;
    }
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    max-width: 414px;
    padding: 0px 25px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#arduino-poc {
    .row {
        height: inherit;
        justify-content: center;
        align-items: center;
        h2 {
            font-family: 'Varela Round', sans-serif;
            color: white;
            font-size: 48px;
            margin: 15px 0;
        }
        p {
            font-family: 'Varela Round', sans-serif;
            color: white;
            font-size: 32px;
            margin: 5px 0px;
        }
    }
}

section#bpm {
    .bpm-container {
        #progress {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .bpm-content {
                position: absolute;
                #bpm-moon {
                    display: block;
                    svg {
                        width: 168px;
                        height: 168px;
                    }
                    &[data-active="false"] {
                        display: none;
                    }
                }
                #bpm-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        display: flex;
                        justify-content: center;
                        margin: 0px;
                        font-size: 24px;
                    }
                    h2 {
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 56px;
                        i {
                            font-size: 36px;
                            color: #F72585;
                            animation-name: heart;
                            animation-duration: 1000ms;
                            animation-timing-function: ease-in-out;
                            animation-iteration-count: infinite;
                            animation-direction: alternate;
                        }
                        span {
                            margin-left: 12px;
                        }
                    }
                    &[data-active="false"] {
                        display: none;
                    }
                }
            }
        }
    }
    .title-container {
        h3 {
            font-size: 22px;
        }
    }
}

section#startButton {
    button {
        width: 288px;
        padding: 14px 0px;
        font-size: 22px;
    }
}

section#stats {
    height: 25%;
}

@keyframes heart {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}