@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
body {
  height: 100vh;
  background: #0D1629;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

main {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  color: white;
  background-color: #F72585;
  border: none;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;
}

button.seizure {
  background-color: #EF233C !important;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 414px;
  padding: 0px 25px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#arduino-poc .row {
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#arduino-poc .row h2 {
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 48px;
  margin: 15px 0;
}

section#arduino-poc .row p {
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 32px;
  margin: 5px 0px;
}

section#bpm .bpm-container #progress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#bpm .bpm-container #progress .bpm-content {
  position: absolute;
}

section#bpm .bpm-container #progress .bpm-content #bpm-moon {
  display: block;
}

section#bpm .bpm-container #progress .bpm-content #bpm-moon svg {
  width: 168px;
  height: 168px;
}

section#bpm .bpm-container #progress .bpm-content #bpm-moon[data-active="false"] {
  display: none;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  font-size: 24px;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text h2 {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 56px;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text h2 i {
  font-size: 36px;
  color: #F72585;
  -webkit-animation-name: heart;
          animation-name: heart;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text h2 span {
  margin-left: 12px;
}

section#bpm .bpm-container #progress .bpm-content #bpm-text[data-active="false"] {
  display: none;
}

section#bpm .title-container h3 {
  font-size: 22px;
}

section#startButton button {
  width: 288px;
  padding: 14px 0px;
  font-size: 22px;
}

section#stats {
  height: 25%;
}

@-webkit-keyframes heart {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes heart {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=main.css.map */